[core]
	excludesfile = ~/workspace/dotfiles/.gitignore_global
[pull]
	ff = only
[alias]
	comit = commit
	commmit = commit
	commti = commit
	comimt = commit
	stuats = status
	stuatt = status
	stauts = status
	statu = status
	staus = status
	stuat = status
	stastus = status
	checout = checkout
	cehckout = checkout
	chekcout = checkout
	checkot = checkout
	checkotu = checkout
	hceckout = checkout
	hcekcout = checkout
	chektou = checkout
	chekout = checkout
	cehckotu = checkout
	checouyt = checkout
	cheocut = checkout
	cehcout = checkout
	chekotu = checkout
	checklout = checkout
	checkouty = checkout
	hckecout = checkout
	ehckout = checkout
	clena = clean
	brnahc = branch
	puh = push
	lgo = log
	rebaes = rebase
	revase = rebase
	statsh = stash
	stahs = stash
	submodules = submodule
	tstatus = status
	tcommit = commit
	tcomit = commit
	tcommmit = commit
	tcommti = commit
	tcomimt = commit
	tstuats = status
	tstuatt = status
	tstauts = status
	tstatu = status
	tstaus = status
	tstuat = status
	tchecout = checkout
	tcehckout = checkout
	tchekcout = checkout
	tcheckot = checkout
	tcheckotu = checkout
	thceckout = checkout
	thcekcout = checkout
	tchektou = checkout
	tchekout = checkout
	tcehckotu = checkout
	tchecouyt = checkout
	tcheocut = checkout
	tcehcout = checkout
	tchekotu = checkout
	tchecklout = checkout
	tcheckouty = checkout
	thckecout = checkout
	tehckout = checkout
	tbrnahc = branch
	tpush = push
	tpuh = push
	tlgo = log
	trebaes = rebase
	trevase = rebase
	tstatsh = stash
	tstahs = stash
	tsubmodule = submodule
	tsubmodules = submodule
	tatus = status
	tuats = status
	tuatt = status
	tauts = status
	tatu = status
	taus = status
	psuh = push
	ocmmit = commit
	upsh = push
	ush = push
	chckout = checkout
	checkout = checkout
	tchckout = checkout
	tcheckout = checkout
	checkoout = checkout
	tcheckoout = checkout
	heckout = checkout
	cehckoout = checkout
	theckout = checkout
	tcehckoout = checkout
[user]
	name = Evie Pai
	email = wowitsevelynwow+github@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
